<div class="header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">

                <a class="navbar-brand" href="#/">Sngv</a>
            </div>

            <div class="collapse navbar-collapse" id="js-navbar-collapse">

                <ul class="nav navbar-nav" ng-init="tab = 1">
                    <li class="active" ng-class="{ active:tab === 1}"><a ng-click="tab=1" href="#/">Home</a></li>
                    <li  ng-class="{ active:tab === 2}"><a ng-href="#/about" ng-click="tab=2">About</a></li>
                    <li  ng-class="{ active:tab === 3}"><a href="login" ng-click="tab=3">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>